.post-item{
    display: flex;
    flex-direction: column;
    padding: 20px;
    border-radius: 10px;
    background-color:lightgray;
    color:black;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s ease-in-out;
    &:hover{
        transform: translate(0, -5px);
    }
}
