.app-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 25px;

  .create-post {
    display: flex;
    align-items: center;
    gap: 16px;

    input[type="text"] {
      height: 40px;
      border-radius: 10px;
      border: 1px solid lightgray;
      padding: 0 16px;
    }
  }
}